.header h1 {
  text-align: center;
}

.momentoMori,
.col {
  --mm-gutter-x: 1.5rem;
  --mm-gutter-y: 0;
  // --mm-week-padding: 0.625rem;
  --mm-font-family: "Arapey", serif;

  --mm-week-padding: 0.175rem;

  @media (min-width: 576px) {
    --mm-week-padding: 0.625rem;
  }

  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--mm-gutter-y) * -1);
  margin-right: calc(var(--mm-gutter-x) / -2);
  margin-left: calc(var(--mm-gutter-x) / -2);
}

.col {
  flex: 0 0 auto;
  width: calc(var(--mm-week-padding) * 2 * 53);
  margin: auto;
  max-width: 1104px;
  padding: 0 var(--mm-gutter-x);
}

.quoteBlock {
  blockquote {
    text-indent: -0.45em;
    min-width: 50%;
    max-width: 340px;
    margin: auto;
    font-size: calc(var(--mm-week-padding) * 1.6);

    &::before {
      content: open-quote;
      font-size: calc(var(--mm-week-padding) * 6.4);
    }

    &::after {
      content: close-quote;
    }

    quotes: "“" "”" "‘" "’";
  }

  @supports (hanging-punctuation: first) {
    blockquote {
      text-indent: 0;
      hanging-punctuation: first;
    }
  }

  figcaption {
    margin-top: calc(var(--mm-week-padding) * 3.2);
    min-width: calc(50% + 41px);
    max-width: 340px;
    margin: auto;
  }
}
