html {
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#__next {
  @media print {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;

    @page {
      size: A1;
    }
  }

  h1 {
    font-size: min(2vw, 2em);
  }
}
