// .lifeTableCell {
//   display: block;
// }

.lifeTableCell {
  --mm-week-padding: 0.125rem;

  @media (min-width: 576px) {
    --mm-week-padding: 0.625rem;
  }

  background: white;
  /* padding: calc(var(--mm-gutter-x) / 2); */
  /* padding: 5px; */
  padding: calc(var(--mm-week-padding) / 2);

  border: calc(var(--mm-week-padding) / 10) solid black;
  margin: calc(var(--mm-week-padding) / 2.5);
  /* margin: auto; */
  align-self: self-start;

  &.isActive {
    background: black;
  }
}

.lifeTableCell:nth-child(26n) {
  margin-right: calc(var(--mm-week-padding) * 1.6);
}

.lifeTableCell:nth-child(52n) {
  margin-right: calc(var(--mm-week-padding) / 2.5);
}

.lifeTableCell {
  position: relative;

  @for $i from 1 through 52 {
    &:nth-child(520n + #{$i}) {
      margin-top: calc(var(--mm-week-padding) * 1.6);
    }
  }

  // &:nth-child(520n) ~ &:nth-child(520n + 52) {
  //   margin-top: calc(var(--mm-week-padding) * 1.6);
  // }

  &[data-year-index]::before {
    content: attr(data-year-index) " ";
    position: absolute;
    right: calc(var(--mm-week-padding) * -4);
    top: calc(var(--mm-week-padding) / 100);
    display: none;

    font-size: calc(var(--mm-week-padding) * 1.33333);
  }

  &[data-year-index="1"]::before {
    display: block;
  }

  @for $i from 1 through 80 {
    &[data-year-index="#{$i * 5}"]::before {
      display: block;
    }
  }
}

.lifeTableCell.latestWeek {
  // background: linear-gradient(to bottom left, cyan var(--partialWeek), palegoldenrod 10%);
  background: linear-gradient(135deg, black var(--partialWeek), white);
}
